{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">

      <div class="row">    
          {% if city != 0 %}
            <div class="col-md-6">
              <h2>
                City: <strong>{{ city }}</strong>
              </h2>
            </div>
          {% endif %}

      <div class="col-md-4 col-md-offset-2">

        <form action="/cowork/search/" method="post">
          {% csrf_token %}
            <label>City: </label>
            <input type="text" class="form-control" name="city_name"  />
          
        </form>

      </div>

    </div>
  </div>
</div>
    {% if text %}
        <div class="alert alert-info text-center">
            <h3>{{ text }}</h3>
        </div>
    {% endif %}
    {% if location %}
      {% for loc in location%}
         <div class="container">
                <div class="row">
                   <div class="col-md-2"></div>
                    <div class="col-md-8">

                        <img class="pull-left " src="{{ loc.company.logo.url }}" alt="Logo"  height="140px" width="140px" />

                        <div class="col-md-8">
                            <h3 class="text-left">{{ loc.company.name }}</h3>
                        </div>

                        <div class="col-md-4">
                            <p>Total desks: {{ loc.total_desks }} </p>
                        </div>
                        <div class="col-md-4 ">
                            <p> Free desks: {{ loc.free_desks }}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-8 ">
                                <p> Price per desk: {{ loc.price }} $</p>
                            </div>
                        </div>

                        <div class="col-md-8  text-right">
                             <a href="/cowork/rent/{{ loc.id }}" class="btn btn-primary">Rent desk</a>
                        </div>
                        <div class="col-md-8">
                             <hr>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
         </div>

      {% endfor %}

    {% endif %}

{% endblock %}
